@import 'tailwindcss';

@font-face {
  font-family: 'TT Norms Pro';
  src: url('./fonts/TTNormsPro-Light.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'TT Norms Pro';
  src: url('./fonts/TTNormsPro-Medium.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('./fonts/TTNormsPro-Bold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@theme {
  --font-tt-norms-pro: 'TT Norms Pro';
}

/* FOR COMPONENTS/ELEMENTS */
input {
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}

button {
  cursor: pointer;
}
